@import './normalize.css'
body
	font-size:16px;
	color:black;

a
	text-decoration : none;
	color:inherit;
	
.Contenedor
	width:90%;
	max-width: 900px;
	margin: 0 auto;//centrar contenedores
.Header
	&-nav
		ul
			padding: 0;
			margin:0;
			li
				list-style:none;
				text-align:center;
				padding: 1em 0;
	&-menu
		text-align:center;
	&-logo
		padding:1.5em 0;
		border-top: 5px solid black;
		border-bottom: 5px solid black;//usar px en los border y border radio
		figure
			width: 2em;
			height: 2em;
			background: black;
			margin: 0 auto;//centrar elementos
			